/*

Them name: HTML5
date: 19/2/2022
discrption: LEARN BASIC HTML5
version: 4.3
author: Mohammed Hassn Mostafa
author url:https://aldaly-website.netlify.com

*/
/*------- start all ---------*/
*{
  box-sizing: border-box;
  font-family: 'segoe UI',
  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  
}
/*------- end all ---------*/
/*------- start anime ---------*/
.photoSection {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
#photoTab {
  border-radius: 10px;
  width: 500px;
}
#ben{
  text-align: center;
  width:978px; 
  height:550px;
  border-radius: 10px;
}
#net{
  text-align:center;
  width: 100;
  height: 50;
  background-color: darkmagenta;
  color: rgb(52, 233, 7);
  border-radius: 10px;


}
#windows{
  width:500; 
  border-radius: 10px;
  border: solid 3.7px rgb(51, 51, 51);
}
#dop{

  width: 100;
  height: 50;
  background-color: darkmagenta;
  color: rgb(52, 233, 7);
  border-radius: 10px;


}
#robot{
 text-align: center;


}
.content2 img {
  height: 0 auto;
  width: 50%;
  margin: 0 auto;
  padding: 2px;
  border-radius: 4px; 
  text-align: center;


}

#ert{
  color: greenyellow ;
  text-align: center;
  background-color: slateblue;
  border-radius:10px;
  margin: 0 auto; 
  width: 0 auto ;
  font-weight: bold;
  font-size: 30px;

}
ul{
list-style: none;
text-align: center;
}
#ert ul{
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 20px;
  text-align: center;
}
#ert ul li{
  width: 25%;
  height: 50px;
  background-color:slateblue ;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all .2c ease-in;
}
#ert ul li:hover{
background-color:steelblue ;
}
.dark {
  margin: 5px;
  padding: 5px;
}
.light {
  margin: 5px;
  padding: 5px;
}
.content1 img {
  margin: 10px;
  padding: 10px;
 border-radius: 50px;
 width: 600px;
 text-align: left;
 float: left;
}



.show{
 display: block;

}


div {
  display: none;
}



.content1 h1 {
  color: midnightblue;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
.content1 h2 {
  color: royalblue;
  font-size: 50px;
  font-weight: bold;
}
.ul {
  display: flex;
    place-content: center;
}
#uty {
  font-size: 35px;
}
.character {

  margin: 10px;
}


.content3 {
  justify-content: center;
  border-color: black;
}
figure {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  
}



.kakarot {
  height: 320px;
  width: 320px;
  margin: 10px;
  padding: 1px;
  
}

